<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/result.css') }}">
</head>
<body>
    <div class="page-container">
        <div class="content-container">
            <h1>OCR Result</h1> 
            <p class="ocr-result">OCR Result: {{ ocr_output }}</p>
            <div class="image-container">
                <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image">
            </div>
            <center>
                <a href="{{ url_for('index') }}" class="return-button"> Try Different </a>
            </center>
        </div>
    </div>
</body>
</html>
